{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="container">
            <div class="row text-center">
                <div class="col-9">
                    <div class="card-header">
                        <h3 class="card-title"> Блог</h3>
                    </div>
                    <div class="card mb-4 box-shadow">
                    </div>

                    <img class="rounded mx-auto d-block"
                         src="{% mediapath blog.preview %}"
                         alt="Card image cap"
                         width="400"
                         height="350">
                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">{{ blog.title }} ({{ object.slug }})</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-center m-3">
                            <li>{{ blog.content }}</li>
                        </ul>
{#                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Написать комментарий#}
                        {#                        </button>#}
{#                        <a href="{% url 'blog:update' object.pk %}" type="button col-4"#}
{#                           class="btn btn-lg btn-block btn-outline-primary">Редактировать</a>#}
{#                        <a href="{% url 'blog:delete' object.pk %}" type="button col-4"#}
{#                           class="btn btn-lg btn-block btn-outline-danger">Удалить</a>#}
                    </div>
                    <div class="card-footer">
                        Просмотры: {{ object.view_count }}
                    </div>
                </div>
            </div>

    </div>
{% endblock %}
