<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            e-Shop
            <small class="d-block mb-3 text-muted">&copy; 2023 - {% now 'Y' %}</small>
        </div>
        <div class="col-6 col-md">
            <h5>О компании</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Информация</a></li>
                <li><a class="text-muted" href="#">Магазины</a></li>
                <li><a class="text-muted" href="#">Вакансии</a></li>
                <li><a class="text-muted" href="/contacts/">Контакты</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Покупателям</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Акции и спецпредложения</a></li>
                <li><a class="text-muted" href="#">Подарочные карты</a></li>
                <li><a class="text-muted" href="#"></a>Условия возврата</li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Партнёрам</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Поставщикам</a></li>
                <li><a class="text-muted" href="#">Рекламодателям</a></li>
            </ul>
        </div>
    </div>
</footer>